/*DEVELOPER: Rodrigo Torres, IS117-005, Fall, 2025 */
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: aliceblue;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 0.5rem;
}
.hero-image{
    background-image: url("../Images/Backimg.jpg");
    height: 350px;
    background-size: cover;
    background-position: center;
    border-radius: 12px;
    margin-top: 20px
}
body{
    background-color: #F7FFF7;
    font-family: "Comic Sans MS" , sans-serif;}
.nav-rounded{
    padding: 6px 14px;
    border-radius: 20px;
    transition: 0.2s;
}
.nav-rounded:hover{
    background-color: rgba(255,255,255,0.2);
}
.custom-navbar{
    background-color: #abbba4;
    border-color: #0d6efd;
}
.navbar .nav-link{
    font-size: 20px;
    color: #365479;
    font-weight: 500;
}
.card-title{
    font-size: 20px;
    color: #323354;
    font-weight: 500;
}
.card-text{
    font-size: 16px;
    color: #af4a4a;
}
.dropdown-menu{
    border-radius: 10px;
    padding: 8px;
}
.dropdown-item:hover {
    background-color: #abbba4;
    color: white;
}
button{
    font-family: "Comic Sans MS" , sans-serif;
    background: #abbba4;
    color: #F7FFF7;
    padding: 15px 32px;
    border-radius: 15px;
    display: inline-block;
    font-size: 1.1em;
    cursor: pointer;

}
button:hover {
    background: white;
    color: #af4a4a;
}